body{
    /* justify-content: center; */
    text-align: center;
}
button{
    
    background-color: rgba(223, 7, 7, 0.747);
    color: white;
    display: block;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
}
.btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content .btn h2{
    margin-top: 4px;
}

button:hover{
    background-color: rgba(233, 117, 117, 0.747);
    color: black;
}
/* .content{
    padding: 20px;
    margin-top: 250px;
    margin-left: 550px;
    width: 300px;
    height: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 4px 5px 1px;
    background-color: rgba(25, 115, 125, 0.5);
    
} */
.content{
    background-color: rgba(213, 170, 17, 0.747);
    margin-left: 600px;
    margin-top: 250px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px;
    width: 200px;
    height: 250px;
    display: flex;
}